.post-container {
    font-family: Ubuntu;
}

.post-title {
    background: #107dac;
    color: #FFFFFF;
    padding: 6vw;
}

.post-title h1 {
    font-size: 1.3em;
    margin: 0;
    padding-bottom: 3vw;
}

.post-author-date {
    font-size: .8em;
    display: flex;
}

.post-author-date a {
    color: #a7cdde;
    margin: 0;
}

.blog-post {
    padding: 6vw;
    line-height: 1.4;
}

.blog-post img {
    width: 100%;
    height: auto;
}

.deckgo-highlight-code-carbon {
    margin: 6vw 3vw;
    --deckgo-highlight-code-carbon-toolbar-display: none;
}