.post-container {
    font-family: Ubuntu;
}

.post-title {
    background: #107dac;
    color: #FFFFFF;
    padding: 1.5rem;
}

.post-title h1 {
    font-size: 1.3em;
    margin: 0;
    padding-bottom: 1rem;
}

.post-author-date {
    font-size: .8em;
    display: flex;
}

.post-author-date a {
    color: #a7cdde;
    margin: 0;
}

.post-author-date a:hover {
    color: white;
}

.blog-post {
    padding: 1.5rem;
    line-height: 1.4;
    font-weight: 300;
}

.blog-post a:hover {
    color: #a7cdde;
}

.blog-post img {
    width: 100%;
    height: auto;
}

.deckgo-highlight-code-carbon {
    --deckgo-highlight-code-carbon-toolbar-display: none;
    box-shadow: var(--deckgo-highlight-code-carbon-box-shadow, rgba(0, 0, 0, 0.55) 0 2px 4px);
    background: #f5f1ff;
}

.image-title-group {
    display: flex;
    align-items: flex-end;
}

.image-title-group  img{
    border-radius: 5px;
    width: 65px;
    height: auto;
    margin-right: 1rem;
}

@media (min-width: 1024px) {
    .blog-post {
        padding: 1.5rem 8rem;
    }
    .post-title {
        padding: 1.5rem 8rem;
    }
    .blog-post img {
        max-width: 600px;
        max-height: 400px;
        margin: 0 auto;
        display: block;
    }
}
