footer {
    background: #252525;
    color: white;
    text-align: center;
    font-family: Ubuntu;
    padding-bottom: 1rem;
}

.social-container ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}

.social-container a {
    margin-right: 1em;
    border-radius: 50%;
    padding: 4px;
    color: white;
    display: inline-block;
}

.social-twitter {
    background: #7ac9ed;
}

.social-github {
    background: #91c661;
}

.footer-reference {
    font-size: small;
    font-weight: 300;
}

.footer-reference a {
    color: white;
}

@media (min-width: 1024px) {
    .social-github:hover {
        background: #739c4c;
    }

    .social-twitter:hover {
        background: #63a6c5;
    }

    .footer-reference a:hover {
        color: rgb(214, 207, 207);
    }
}