.header-class {
    background: #252525;
}

.header-container {
    margin: 0;
    padding: 1.5em;
    font-family: Ubuntu;
}

.header-container h1 {
    margin: 0;
}

.header-link {
    text-decoration: none;
    display: flex;
    font-size: 6vw;
}

.link-0 {
    color: #9370DB;
}

.link-1 {
    color: #FFFFFF;
}

.link-2 {
    color: #FF7F50;
}

.header-by {
    color: white;
    margin-top: .3em;
    font-size: .8em;
}

.header-by a {
    text-decoration: underline;
    color: white;
}