
.header-class {
    background: #252525;
}

.header-container {
    margin: 0;
    padding: 1.5em;
}

.header-container h1 {
    margin: 0;
}

.header-link {
    text-decoration: none;
    font-family: Ubuntu;
    display: flex;
    font-size: 4.5vw;
}

.link-0 {
    color: #9370DB;
}

.link-1 {
    color: #FFFFFF;
}

.link-2 {
    color: #FF7F50;
}