.postList-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
    background: #eeeeee;
    pointer-events: none;
}

.postList-container a {
    text-decoration: none;
    color: black;
    pointer-events: auto;
}

.postList-container:hover{
    background: #d1caca;
}

.postList-container p {
    font-weight: 300;
}

.postList-title {
    font-size: 1.3em;
    font-weight: 500;
}

.postList-date {
    color: gray;
    font-size: .75em;
}

.postFooter-title {
    padding: 0 1rem;
    color: gray;
}

.postList-image-group {
    display: flex;
    align-items: flex-end;
}

.postList-image-group img {
    border-radius: 5px;
    width: 65px;
    height: auto;
    margin-right: 1rem;
}

.postList-showMore {
    text-align: center;
}


.postList-showMore button {
    padding: .6rem 2rem;
    margin-top: 1rem;
    font-size: .8rem;
    font-weight: 300;
    border: 1px solid #d1caca;
    border-radius: 20px;
    background: #eeeeee;
    color: gray;
    cursor: pointer;
}

.postList-showMore button:focus {
    border-radius: 0;
}

@media (min-width: 1024px) {
    .postList-container {
        margin: 1.5rem 8rem;
        padding: 1rem;
    }
    .postFooter-title {
        padding: 0 8rem;
    }
    .postList-showMore button:hover {
        background: #107dac;
        color: white;
    }
}