.postList-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    margin: 4vw;
    padding: 3vw;
    background: #eeeeee;
}

.postList-container a {
    text-decoration: none;
    color: black;
}

.postList-title {
    font-size: 1.3em;
    font-weight: 500;
}

.postList-date {
    color: gray;
    font-size: .75em;
}

.postFooter-title {
    padding: 0 6vw;
    color: gray;
}

.postList-image-group {
    display: flex;
    align-items: flex-end;
}

.postList-image-group img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin-right: 3vw;
}